html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary) !important;
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}
:root {
  color: #efefef;
  --primary: #1e1e2f;
  --white: #efefef;

  --blue: #5e72e4;
  --card-color: #272a3d;
  --card-chart-color: #00f2c3;
  --sidebar-background-color: #3358f4;

  --navbar-height: 80px;
  --page-content-width: 1200px;
}

/* body {
  min-height: 100vh;
} */
